main {
    margin-top: 50px;
    display: flex;
    flex-direction: column
}

section {
    form.card-create-category {
        display: flex;
        flex-direction: column;
        background-color: rgba($color: #000000, $alpha: 0.2);
        color: #5856D6;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
        padding: 30px;
        border-radius: 20px;
        gap: 20px;

        div.input-name-category {
            width: 100%;

            input {
                width: -webkit-fill-available;
                height: 40px;
                outline-color: #5856D6;
                border-radius: 20px;
                padding-left: 20px;
                font-size: 16px;
                align-self: flex-end;
                border: solid 1px rgba($color: #ffffff, $alpha: 0.10);
                background-color: #272B31;
                color: #ffffff;
                &::placeholder {
                    color: rgba(255, 255, 255, 0.61);
                }
            }
        }


    }
}

.buttons {
    display: flex;
    gap: 10px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        gap: 5px;
    }

    button.save {
        background-color: #5856D6;
        color: white;
    }

    button.save:hover {
        background-color: #7371d4;
        cursor: pointer;
    }

    button.save:active {
        background-color: #5856D6;
    }

    button.cancel {
        background-color: #d32f2f;
        color: white;
    }

    button.cancel:hover {
        background-color: #f44336;
        cursor: pointer;
    }

    button.cancel:active {
        background-color: #d32f2f;
    }
}
