<app-subheader
    [subheader]="{
        title: 'Categoria',
        subtitle: 'Crie uma nova categoria'}">
</app-subheader>
<main>
    <section>
        <form [formGroup]="categoryForm" class="card-create-category">
            <span class="input-name-category">Nome da categoria</span>
            <div class="input-name-category">
                <input formControlName="name" class="input-name-category" type="text" placeholder="Nome da categoria">
            </div>
            <div class="buttons">
                <button (click)="createCategory()" class="save">
                    <span>SALVAR</span>
                </button>
                <button type="button" [routerLink]="'/category'" class="cancel">
                    <span>CANCELAR</span>
                </button>
            </div>
        </form>
    </section>
</main>
