main {
    display: flex;
    flex-direction: column;
}

table.category-table {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    gap: 20px;
    input {
        max-width: 250px;
        height: 40px;
        outline-color: #5856D6;
        border-radius: 5px;
        padding-left: 12px;
        font-size: 16px;
        align-self: flex-end;
        // box-shadow: inset 3px 3px 5px #333;
        background-color: #272B31;
        &::placeholder {
            color: rgba(255, 255, 255, 0.61);
        }
    }
}

section.header-table {
    display: flex;
    width: 100%;

    tr.header-table {
        flex: 1;
        // padding: 10px;
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        // background-color: #5856D6;

        th {
            color: white;
            font-size: 16px;
            font-weight: 500;
        }

        th.name {
            flex: 7;
            display: flex;
            justify-content: flex-start;
            padding: 10px;
            background-color: #5856D6;
            border-radius: 10px;
        }

        th.category {
            flex: 6;
            display: flex;
            justify-content: center;
            padding: 10px;
            background-color: #5856D6;
            border-radius: 10px;
        }

        th.options {
            flex: 3;
            display: flex;
            justify-content: center;
            padding: 10px;
            background-color: #5856D6;
            border-radius: 10px;
        }
    }
}

section.body-table {
    display: flex;
    flex-direction: column;
    width: 100%;

    tr.body-table {
        flex: 1;
        padding: 10px;
        display: flex;
        align-items: center;
        td{
            color: white;
        }

        td.name {
            flex: 7;
            display: flex;
            justify-content: flex-start;
        }

        td.category {
            flex: 6;
            display: flex;
            justify-content: center;
        }

        td.options {
            flex: 3;
            display: flex;
            justify-content: center;
            gap: 20px;
            i.edit{
                color: #00C7BE;
                cursor: pointer;
            }
            i.delete{
                color: #d32f2f;
                cursor: pointer;
            }
        }
    }
    tr.body-table:hover{
        background-color: rgba($color: #000000, $alpha: 0.2);
    }
}

.mat-mdc-paginator{
    margin-top: 20px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.61);
}
