<main>
    <table class="category-table">
        <section class="header-table">
            <tr class="header-table" >
                <th class="name" >Categoria</th>
                <th class="category" >Categoria pai</th>
                <th class="options" >Opções</th>
            </tr>
        </section>
        <section class="body-table" >
            @for (category of category; track $index) {
                <tr class="body-table" >
                    <td class="name" >{{ category.name }}</td>
                    <td class="category" > {{ 'Nenhuma' }} </td>
                    <td class="options" >
                        <i
                            (click)="editCategoryModal($index)"
                            class="material-icons edit">
                            edit
                        </i>
                        <i class="material-icons delete">delete</i>
                    </td>
                </tr>
            }
        </section>
        <mat-paginator></mat-paginator>
    </table>
</main>
