main {
    display: flex;
    flex-direction: column;
    width: 500px;
}

form.card-update-category {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;

    input {
        width: 100%;
        height: 50px;
        outline-color: #5856D6;
        border-radius: 5px;
        padding-left: 12px;
        font-size: 16px;
        border: solid 1px #272B31;
    }
}

div.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        gap: 5px;
    }

    button.save {
        background-color: #5856D6;
        color: white;
    }

    button.save:hover {
        background-color: #7371d4;
        cursor: pointer;
    }

    button.save:active {
        background-color: #5856D6;
    }

    button.cancel {
        background-color: #d32f2f;
        color: white;
    }

    button.cancel:hover {
        background-color: #f44336;
        cursor: pointer;
    }

    button.cancel:active {
        background-color: #d32f2f;
    }
}
