div.container{
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #272B31;
    border-top: solid 1px #333941;
  }

  div.title-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    gap: 30px;
  }

  span.title-header{
    font-size: 18px;
    color: white;
    font-weight: 700;
  }

  i{
    font-size: 40px;
    color: white;
    font-weight: 700;
  }
