main {
    display: flex;
    flex-direction: column;
    width: 500px;
}

div.card-update-category {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;

    span.alert-delete-category {
        width: -webkit-fill-available;
        height: 40px;
        outline-color: #5856D6;
        border-radius: 20px;
        padding-left: 20px;
        font-size: 16px;
        align-self: flex-end;
        background-color: #272B31;
        color: white;
    }

    span.delete-category-name {
        width: -webkit-fill-available;
        height: 40px;
        outline-color: #5856D6;
        border-radius: 20px;
        padding-left: 20px;
        font-size: 22px;
        font-weight: 600;
        align-self: flex-end;
        color: #02C39A;
    }
}




div.buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        gap: 5px;
    }

    button.save {
        background-color: #5856D6;
        color: white;
    }

    button.save:hover {
        background-color: #7371d4;
        cursor: pointer;
    }

    button.save:active {
        background-color: #5856D6;
    }

    button.cancel {
        background-color: #d32f2f;
        color: white;
    }

    button.cancel:hover {
        background-color: #f44336;
        cursor: pointer;
    }

    button.cancel:active {
        background-color: #d32f2f;
    }
}
