<main>
    <!-- Botão para adicionar categoria -->
    <section class="head-buttom">
        <button>
            <i class="material-icons">add</i>
            <h3>categoria</h3>
        </button>
    </section>

    <!-- Filtros -->
    <section>
        <input type="text" placeholder="Buscar categoria">
    </section>

    <!-- Lista de categorias -->
    <section>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Categoria pai</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Categoria AA</td>
                    <td>Categoria A</td>
                    <td>ALGUMA</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
