<main>
    <!-- Botão para adicionar categoria -->
    <section class="head-buttom">
        <div class="button">
            <i class="material-icons">add</i>
            <span>categorias</span>
        </div>
    </section>

    <!-- Filtros -->
    <section class="filter">
        <input type="text" placeholder="Buscar categoria" />
    </section>

    <!-- Lista de categorias -->
    <section class="list-category">
        <ul>
            <li>
                <span class="title">Nome</span>
                <span class="data">Categoria AA </span>
            </li>
            <li>
                <span class="title">Categoria pai</span>
                <span class="data">Categoria A</span>
            </li>
            <li>
                <span class="title">Ações</span>
                <div>
                    <i class="material-icons">edit</i>
                    <i class="material-icons">delete</i>
                </div>
            </li>
        </ul>
    </section>
</main>
