main {
    margin-top: 30px;
}

// BOTÃO
section.head-buttom {
    div.button {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 10px 30px;
        font-size: 18px;
        font-weight: 500;
        background-color: var(--blue1);
        color: var(--white1);
        border-radius: 4px;
    }

//  FILTRO DE DADOS
}

section.filter{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    input{
        width: 200px;
        height: 30px;
        border-radius: 4px;
        border: 1px solid var(--gray2);
        padding-left: 12px;
    }
}

// LISTAGEM DE CATEGORIA
section.list-category{
    margin-top: 30px;
    width: -webkit-fill-available;
}

table{
    width: 100%;
}

tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

th{
    display: flex;
    justify-content: flex-start;
}

.name{
    flex: 3;
}
.subordination{
    display: flex;
    justify-content: center;
    flex: 1;
}
.actions{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}


// .name{
//     flex: 1;
// }

