main {
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

div.buttons {
    margin-top: 50px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
        background-color: #5856D6;
        color: white;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        gap: 5px;
    }

    button:hover {
        background-color: #7371d4;
        cursor: pointer;
    }

    button:active {
        background-color: #5856D6;
    }

    i {
        font-size: 18px;
    }
}

div.table {
    width: -webkit-fill-available;
    margin-top: 50px;
    margin-bottom: 150px;
    padding: 30px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    border-radius: 20px;
}
